div {
  color: white;
  /*background: linear-gradient(to right, pink, hotpink);*/
  background: linear-gradient(to right, lightgreen, lightseagreen);
  height: 200px;

  font-size: 24px;
  font-family: Diplomata SC;

  margin-bottom: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
}
